.container{
   margin-left: 10%;
   margin-right: 10% ;
}

.heading , .header h3{
    color: brown;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul{
    list-style: none;
    display: flex;
}

.header ul li{
    width: 60px;
   
}

.header ul li a{
    text-decoration: none;
}